services:
  e-commerce-store:
    image: node:24
    container_name: e-commerce-store
    volumes:
      - ./app:/app
    working_dir: /app
    user: "${USER_ID}:${GROUP_ID}"
    tty: true
    ports:
      - "3000:3000"
    env_file:
      - .env
