# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: CI - Code Tests and Scans 

on:
  push:
    branches: ['main', 'develop', 'feature-fe']
  pull_request:
    branches: ['main', 'develop']

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm i
      - run: npm test

  source_scan:
      # Ten job działa niezależnie i szybko
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v4
        - name: Trivy scan source code
          uses: aquasecurity/trivy-action@master
          with:
            scan-type: fs # <-- MUSI być 'fs', aby użyć parametru 'path'
            path: ./app   # <-- Ten parametr jest prawidłowy tylko dla scan-type - Podkreślenie to tylko problem lintowania GitHub Actions workflow, a nie błędu runtime.
            format: table
            exit-code: 1
            vuln-type: code,secret,os,library # Skanuj wszystko
            severity: CRITICAL,HIGH

  e2e:
    needs: test

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci

      # DODAJ TEN KROK TUTAJ:
      - name: Build application
        run: npm run build

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
    #   - name: Start backend & frontend - backend nie będzie mi potrzebny
      - name: frontend
        run: npm run start:e2e &
      - name: Wait for frontend
        run: npx wait-on http://localhost:3000
      - name: Run Playwright tests
        run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report-${{ matrix.node-version }}
          path: playwright-report/
          retention-days: 30
