name: CI - Code Tests and Scans  # Nazwa całego workflow

on:
  push:                         # Wyzwala workflow przy pushu
    branches: ['main', 'develop', 'feature-fe']  # Tylko dla tych branchy
  pull_request:                 # Wyzwala workflow przy PR
    branches: ['main', 'develop']  # Tylko dla tych branchy

jobs:
  test:                         # Job o nazwie "test"
    runs-on: ubuntu-latest      # Uruchamia się na maszynie Ubuntu

    strategy:
      matrix:
        node-version: [24.x]    # Testy uruchamiane dla Node.js 24.x

    steps:                      # Kroki w jobie "test"
      - uses: actions/checkout@v4   # Pobiera kod źródłowy repozytorium do środowiska runnera
      - name: Use Node.js ${{ matrix.node-version }}  # Ustawienie Node.js
        uses: actions/setup-node@v4   # Ustawia określoną wersję Node.js do użycia w workflow
        with:
          node-version: ${{ matrix.node-version }}  # Wersja Node.js z matrix
          #cache: 'npm'  # Włącza cache dla zależności npm - tutaj nie będzie, ponieważ on działa tylko dla package-lock.json w katalogu root repo, a mój lockfile jest w app/. Ta opcja działa tylko, jeśli package-lock.json jest w root repozytorium.

      #Określa katalog, który ma być zapisany w cache.
       # Cache node_modules dla folderu app
      - uses: actions/cache@v3 # Używa akcji cache do przechowywania zależności między uruchomieniami workflow
        with:
          path: ./app/node_modules  # Ścieżka do katalogu, który ma być zapisany w cache
          key: ${{ runner.os }}-node-${{ hashFiles('app/package-lock.json') }} # Unikalny klucz cache oparty na systemie operacyjnym i hashu pliku package-lock.json
          restore-keys: | # Klucz używany do przywrócenia cache, jeśli dokładny klucz nie istnieje (częściowe dopasowanie)
            ${{ runner.os }}-node- 

      - run: npm i             # Instalacja zależności npm
        working-directory: ./app
      - run: npm test          # Uruchamia testy jednostkowe i integracyjne
        working-directory: ./app

  source_scan:                  # Job do skanowania kodu źródłowego
      runs-on: ubuntu-latest    # Uruchamiany na Ubuntu
      steps:                    # Kroki w jobie "source_scan"
        - name: Checkout code
          uses: actions/checkout@v4  # Pobiera repozytorium do runnera
        - name: Trivy scan source code
          uses: aquasecurity/trivy-action@master  # Używa Trivy do skanowania
          with:
            scan-type: fs       # Typ skanu: File System (pliki w folderze)
            input: ./app        # Folder aplikacji do zeskanowania
            format: table       # Format raportu: tabela
            exit-code: 1        # Zwraca kod błędu jeśli wykryje CRITICAL/HIGH
            vuln-type: os,library  # Typy podatności: system i biblioteki
            severity: CRITICAL,HIGH  # Skupia się na wysokich/krytycznych podatnościach

  e2e:                          # Job do testów end-to-end
    needs: test                 # Wykonuje się dopiero po jobie "test"
    runs-on: ubuntu-latest      # Uruchamiany na Ubuntu
    strategy:
      matrix:
        node-version: [24.x]    # Testy uruchamiane dla Node.js 24.x
    steps:                      # Kroki w jobie "e2e"
      - uses: actions/checkout@v4  # Pobiera repozytorium
      - uses: actions/setup-node@v4  # Ustawia Node.js
        with:
          node-version: ${{ matrix.node-version }}  # Wersja Node.js
      - name: Install dependencies
        run: npm ci              # Instalacja zależności według lockfile
        working-directory: ./app # testy do e2e są w katalogu app

      - name: Build application
        run: npm run build       # Buduje frontend (dist)
        working-directory: ./app # testy do e2e są w katalogu app

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps  # Instaluje przeglądarki do E2E
        working-directory: ./app # testy do e2e są w katalogu app

      - name: frontend
        run: npm run start:e2e &  # Uruchamia frontend w tle dla testów
        working-directory: ./app # testy do e2e są w katalogu app

      - name: Wait for frontend
        run: npx wait-on http://localhost:3000  # Czeka aż frontend będzie dostępny
        working-directory: ./app # testy do e2e są w katalogu app

      - name: Run Playwright tests
        run: npx playwright test  # Uruchamia testy end-to-end
        working-directory: ./app 

      - uses: actions/upload-artifact@v4  # Upload raportu testów
        # Nawet jeśli testy się nie powiodą ( always() )
        if: always()            
        with:
          name: playwright-report-${{ matrix.node-version }}  # Nazwa artefaktu
          path: app/playwright-report/  # Folder z raportami
          retention-days: 30        # Przechowuje artefakt przez 30 dni